@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Outfit", sans-serif;
}

a {
  text-decoration: none;
}
