$dark_navy: #1a2a33;
$semi_dark_navy: #1f3641;
$shadow_color: #10212a;
$silver: #a8bfc9;
$silver_hover: #dbe8ed;
$light_blue: #31c3bd;
$light_blue_hover: #65e9e4;
$light_yellow: #f2b137;
$light_yellow_hover: #ffc860;
$padding: 1.2em;
$border-radius: 10px;
$margin: 1.8em;
$button_border_radius: 15px;
$button_padding: 1.1em;
$small-margin: 1.2em;

@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  border: none;
  text-transform: uppercase;
}

@mixin boxShadow($color) {
  box-shadow: 0 8px 0 0px $color;
}

body,
html {
  font-size: 14px;
  font-family: "Outfit", sans-serif;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

div.tictactoe-app {
  background: $dark_navy;
  min-height: 100vh;
  padding: $padding;
  text-transform: uppercase;

  div.got-a-winner {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);

    div.content {
      text-align: center;
      background: $semi_dark_navy;
      padding: 3em $padding;
      width: 100%;
      h4 {
        color: #fff;
      }

      h2 {
        color: #fff;
        margin-bottom: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        &.win-1 {
          color: $light_blue;
        }
        svg {
          width: 30px;
          margin: 1em 0;
          margin-right: 10px;
          height: auto;
        }

        &.win-2 {
          color: $light-yellow;
          vertical-align: middle;
        }
      }

      div.button-container {
        a,
        button {
          padding: $button_padding 1.6em;
          border-radius: $border-radius;
          display: inline-block;
          color: $dark_navy;
          font-weight: bold;
          font-size: 1em;
        }

        a {
          background-color: $silver_hover;
          @include boxShadow($silver);
          margin-right: 2em;
        }

        button {
          background-color: $light_yellow_hover;
          &.cancel {
            background-color: $silver_hover;
            @include boxShadow($silver);
            margin-right: 1em;
          }
          @include boxShadow($light-yellow);
        }
      }
    }
  }
  main.main-container {
    display: flex;
    align-items: center;
    width: 100%;
    div.content {
      width: 100%;
      div.icon-container {
        padding: $padding 0;
        text-align: center;
      }

      div.pick-player-mark {
        background: $semi_dark_navy;
        padding: $padding;
        color: $silver_hover;
        border-radius: $border-radius;
        margin-bottom: $margin;
        @include boxShadow($shadow_color);
        margin-bottom: h3, h2 {
          text-align: center;
          padding: $padding 0;
        }
        h2 {
          text-align: center;
          margin-bottom: $small-margin;
        }
        h3 {
          color: $silver;
          text-align: center;
        }
        div.marker-toggle-container {
          margin-bottom: $small-margin;
          input[type="checkbox"] {
            visibility: hidden;
          }

          label {
            height: 80px;
            background: $dark_navy;
            padding: 0.8em;
            display: grid;
            grid-template-columns: 1fr 1fr;
            border-radius: $border-radius;
            button.mark {
              background: transparent;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: $border-radius;

              &.active {
                background: $silver;
                svg {
                  path {
                    fill: $dark_navy;
                  }
                }
              }
              svg {
                height: 35px;
                width: 35px;
                path {
                  fill: $silver;
                }
              }
            }
          }
        }
      }

      div.action-container {
        a {
          display: block;
          padding: $button_padding;
          text-align: center;
          color: $dark_navy;
          font-size: 1em;
          border-radius: $button_border_radius;
          font-weight: 1000;
          @include boxShadow($light_yellow);
          margin-bottom: $margin;
          &:nth-child(1) {
            background: $light_yellow_hover;
            margin-bottom: 1.8em;
          }

          &:nth-child(2) {
            background: $light_blue_hover;
            @include boxShadow($light-blue);
          }
        }
      }
    }

    // board
    div.game-board-container {
      flex: 1;
      margin-top: $margin;
      div.board {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        gap: 15px;
        button.entry {
          height: 96px;
          background: $semi_dark_navy;
          border-radius: $border-radius;
          @include boxShadow($shadow_color);

          &.ended {
            svg.outline-hidden {
              display: none;
              visibility: hidden;
            }
          }
          &.p-1,
          &.p-2 {
            svg {
              path {
                fill: $dark_navy;
              }
            }
          }
          &.p-1 {
            background: $light_blue_hover;
            @include boxShadow($light-blue);
          }
          &.p-2 {
            background: $light_yellow_hover;
            @include boxShadow($light-yellow);
          }
          &:hover {
            svg.outline-hidden {
              opacity: 1;
              transform: scale(1);
            }
          }

          &.filled {
            // svg {
            //   animation-name: bounce-in;
            //   animation-duration: 0.4s;
            //   animation-delay: 0.2s;
            //   animation-fill-mode: forwards;
            // }
          }
          svg {
            width: 50px;
            height: auto;
            transition: all 0.3s;
            transform: scale(0);

            &.outline-hidden {
              transform: scale(0);
              opacity: 0;
            }
          }
        }
      }

      div.status {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        margin-top: $margin;
        text-align: center;
        span.status {
          padding: $padding;
          color: $dark_navy;
          border-radius: $border-radius;
          &.user {
            background: $light_blue;
          }

          &.tie {
            background: $silver;
          }

          &.opp {
            background: $light_yellow;
          }
        }
      }
    }
  }

  nav.nav {
    display: flex;
    justify-content: space-between;
    padding: $padding 0px;
    align-items: center;
    span.turn-indicator {
      display: inline-flex;
      align-items: center;
      color: $silver;
      vertical-align: center;
      padding: 0.8em $padding;
      background: $semi_dark_navy;
      border-radius: $border-radius;
      @include boxShadow($shadow_color);
      svg {
        height: 18px;
        margin-right: 10px;
        path {
          fill: $silver;
        }
      }
    }

    button.reset-button {
      height: 45px;
      width: 45px;
      border-radius: $border-radius;
      @include boxShadow($silver);
      background: $silver_hover;
      svg {
        width: 25px;
        height: auto;
      }
    }
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }

  30% {
    transform: scale(0.4);
  }

  50% {
    transform: scale(0.7);
  }
  60% {
    transform: scale(1);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@import "./media_query";
